@media screen and (max-width: 600px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
    }
    .nav {
        opacity: 0;
        visibility: hidden;

        position: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url("../images/muelle_back.jpg");
        background-size: cover;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);  
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: right;
    }

    .nav-list li a {
        color: white;
        text-shadow: 2px;
    }

    main {
        display:block;
        flex-direction: column;
    }

    .images, 
    .beaches,
    .theaters {
        padding: 2%;
    }

    .images img {
        display: block;
        width: 100%;
        height: auto;
    }
    .images h3 {
        display: block;
        width: 100%;
        height: auto;
    }
    .images h4 {
        display: block;
        width: 100%;
        height: auto;
    }

    .beaches img {
        display: block;
        width: 100%;
        height: auto;
    }
    .beaches h3 {
        display: block;
        width: 100%;
        height: auto;
    }
    .beaches h4 {
        display: block;
        width: 100%;
        height: auto;
    }        
    .data {
        position: relative;
    }
    .chile-map {
        display:none;
    }
    .theaters .visit {
        float: right;
        width: 40px;
        height: 40px;    
        justify-self: left;
    }
    .beaches .visit {
        float: left;
        width: 40px;
        height: 40px;
        justify-self: left;
    }
    .images .visit {
        float: right;
        width: 40px;
        height: 40px;
        justify-self: left;
    }
    .theaters img {
        display: block;
        width: 100%;
        height: auto;
    }
    .theaters h3 {
        display: block;
        width: 100%;
        height: auto;
    }
    .theaters h4 {
        display: block;
        width: 100%;
        height: auto;
    }

    .calendar {
        width: 100%;
        height: 100%;
    }
    footer {
        text-align: center;
    }

    table {
        list-style: none;
    }
}