:root {
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(0,48,161,255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    background-color: red;
    color:white;
    height: auto;
    padding: 2rem;
    justify-items: center;
    margin-bottom: 1rem;
}

.hero {
    margin-bottom: 1rem;
    width:100%;
    position: relative;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 0.5rem;
    position: absolute;
}

.datatitle {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding:1rem;
    background-color: rgb(220,36,20);
    border: 1px solid black;
    color: white;
}

.item {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    text-align: right;
    padding:0.5rem;
}
.information {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    text-align: left;
    padding:0.5rem;
}

li {
    list-style-type: none;
}

.weathertitle {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:3;
    grid-row-end:4;
    padding: 1rem;
    text-align: center;
    background-color: rgb(220,36,20);
    border: 1px solid black;
    color: white;
}

picture {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:4;
    grid-row-end:5;
    text-align: center;
    background-color: white;
    padding:0.5rem;
}

.weather_item {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:5;
    grid-row-end:6;
    text-align: right;
    background-color: white;
    padding:0.5rem;
}

.weather_information {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:5;
    grid-row-end:6;
    text-align: left;
    background-color: white;
    padding:0.5rem;
}

footer {
    background-color: red;
    text-align: center;
    height: auto;
    padding: 2rem;
    font-size: 1.5rem;
}

footer p {
    color:yellow;
}
.year {
    color: white;
}